@model IEnumerable<Foozie_Web.Models.FOOD_TYPE>


<img src="~/Images/food-banner.jpg" class="img-fluid" />


<div>
    @*<div class="voucher-container container">
        <h2 class="p-5">Mã khuyến mãi ở Foozie</h2>
    </div>
    <hr />*@
    <div class="food-type-container container">
        <h2 class="p-5">Hãy loại loại món mình thích!</h2>
        <div class="row align-items-center">
            @foreach (var item in Model)
            {
            <a class="col-4 p-3 text-decoration-none" href="../FOOD_TYPE/Details/@item.type_id">
                <img class="img-fluid mx-auto d-block rounded-3" src="~/Images/food_type/@item.thumbnail"/>
                <h5 class="text-center text-black">
                    @item.name
                </h5>
            </a> 
            }
        </div>
    </div>
</div>