<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.ico" />
    <title>Foozie - Đặt đồ ăn trực tuyến</title>


    @Styles.Render("~/Content/css")
</head>
<body style="padding-top: 0px">
    <nav class="navbar navbar-light bg-dark">
        <div class="container d-flex">
            <a class="navbar-brand" href="../../    ">
                <img src="~/lib/bootstrap-icons/icons/apple.svg" class="img-fluid" alt="" width="30" height="24">
            </a>
            <form>
                <button class="btn btn-light me-2" type="button">
                    <img src="~/lib/bootstrap-icons/icons/bag.svg" />
                </button>    
                <button class="btn btn-light me-2" type="button">Đăng Nhập</button>
            </form>
        </div>
    </nav>
    <div>
        @RenderBody()
        <hr />
        <footer class="container-fluid">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>
