@using System.Web.Optimization;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="~/Images/logo.ico" />
    <title>Foozie - Đặt đồ ăn trực tuyến</title>
  


    @Styles.Render("~/Content/css")
</head>
<body style="padding-top: 0px">
    @if (Session["idUSer"] == null)
    {
        <nav class="navbar navbar-light bg-dark">
            <div class="container d-flex">
                <a class="navbar-brand" href="../../    ">
                    <img src="~/Images/logo.png" class="img-fluid w-25" alt="">
                </a>
                <form>
                    <button class="btn btn-light me-2" type="button">
                        <img src="~/lib/bootstrap-icons/icons/bag.svg" />
                    </button>
                    <a class="btn btn-light me-2" href="../Authentication/Login">Đăng Nhập</a>
                </form>
            </div>
        </nav>
    }
    else
    {
        <nav class="navbar navbar-light bg-dark">
            <div class="container d-flex">
                <a class="navbar-brand" href="../../    ">
                    <img src="~/Images/logo.png" class="img-fluid w-25" alt="">
                </a>
                <form class="d-flex">
                    <button class="btn btn-light me-2" type="button">
                        <img src="~/lib/bootstrap-icons/icons/bag.svg" />
                    </button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </div>
                </form>
            </div>
        </nav>
        
    }
    <div>
        @RenderBody()
        <hr />
        <footer class="container-fluid">
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

</body>
</html>
