@model Foozie_Web.Models.FOOD

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container-fluid card w-75 m-auto mt-3 p-5 shadow-lg">
    <div class="row align-items-center">
        <div class="col me-5">
            <img src="~/Images/foods/@Model.FOOD_TYPE.code/@Model.thumbnail" class="img-fluid rounded-3"/> 
            <p>@Model.description</p>
        </div>
        <div class="col">
            <h2>@Model.name</h2>
            <p>
                <span>@Model.price</span>đ
            </p>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="d-flex">
                    <img class="minus" src="~/lib/bootstrap-icons/icons/dash-circle.svg" style="width: 1rem; cursor: pointer" onclick="onMinus()" />
                    <input class="form-control quantity ms-3 me-3" name="quantity" type="text" value="1" aria-label="" style="width: 10%; text-align: center; padding: 0" readonly>
                    <img class="plus" src="~/lib/bootstrap-icons/icons/plus-circle.svg" style="width: 1rem; cursor: pointer" onclick="onPlus()" />
                </div>
                <div class="col-auto mt-3">
                    <label class="visually-hidden" for="autoSizingInputGroup"></label>
                    <div class="input-group">
                        <div class="input-group-text">
                            <img src="~/lib/bootstrap-icons/icons/card-text.svg" />
                        </div>
                        <input type="text" name="note" class="form-control" placeholder="Thêm ghi chú cho món này">
                    </div>
                </div>
                <div class="col-12 mt-3">
                    <button type="submit" class="btn btn-outline-success">Thêm vào giỏ hàng</button>
                </div>
            }
        </div>
    </div>
</div>

<script type="text/javascript">
    var quantity = parseInt(document.querySelector(".quantity").value);

    function onMinus() {
        if (quantity > 1) {
            quantity--;
            return document.querySelector(".quantity").value = quantity;
        }
        return
    }

    function onPlus() {
        return document.querySelector(".quantity").value = ++quantity
    }

    var toastTrigger = document.getElementById('liveToastBtn')
    var toastLiveExample = document.getElementById('liveToast')
    if (toastTrigger) {
        toastTrigger.addEventListener('click', function () {
            var toast = new bootstrap.Toast(toastLiveExample)

            toast.show()
        })
    }
</script>